# How-to-count-distance-to-the-previous-zero
For each value, count the difference back to the previous zero (or the start of the Series,
whichever is closer)

In [2]:
import numpy as np
import pandas as pd

In [3]:
df = pd.DataFrame({'X': [7, 2, 0, 3, 4, 2, 5, 0, 3, 4]})

In [27]:
izero = np.r_[-1, (df['X'] == 0).nonzero()[0]]
izero

array([-1,  2,  7], dtype=int64)

In [28]:
idx = np.arange(len(df))
idx

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [38]:
df['Y'] = idx - izero[np.searchsorted(izero - 1, idx) - 1]

In [39]:
df

   X  Y
0  7  1
1  2  2
2  0  0
3  3  1
4  4  2
5  2  3
6  5  4
7  0  0
8  3  1
9  4  2